@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: Work Sans;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Overflow */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 109, 175); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 69, 110); 
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.accordion-button {
  overflow-anchor: none;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}

.accordion-button:not(.collapsed) {
  color: #2563eb;
  background-color: #fff;
  box-shadow: inset 0 -1px #e5e7eb;
}

.collapse:not(.show) {
  display: none;
}

span.recharts-legend-item-text {
  color: white !important;
}
.recharts-pie-label-line{
  display: none;
  /* stroke-width: 3;
  stroke: white !important; */
}
.recharts-pie-label-text{
  display: none;
  /* font-size: large;
  fill: white !important; */
}
#sad .recharts-legend-wrapper{
  font-size: 90% !important;
  /* left: -28px !important; */
}
#manifest .recharts-legend-wrapper{
  font-size: 90% !important;
  /* left: -28px !important; */
}
#bol .recharts-legend-wrapper{
  font-size: 90% !important;
  /* left: -28px !important; */
}
#olrs .recharts-legend-wrapper{
  font-size: 90% !important;
  /* left: -28px !important; */
}
#cprs .recharts-legend-wrapper{
  font-size: 90% !important;
}
#tp .recharts-legend-wrapper{
  font-size: 90% !important;
}
#abms .recharts-legend-wrapper{
  font-size: 80% !important;
}
#abms .recharts-legend-item{
  margin-right: 5px !important;
}